{% extends 'base.html' %} {% block content %}

<h1>Ad Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ ad.ad_title }}</span>

    <p>Cuisine: {{ ad.coins}}</p>
    <p>Description: {{ ad.description }}</p>
    <p>Coins: {{ ad.coins }}</p>
    <p>Description: {{ ad.description }}</p>
    <p>Offer Date: {{ ad.offer_date }}</p>
    <p>Expiry Date: {{ ad.expiry_date }}</p>
    <p>Stock: {{ ad.stock_inventory }}</p>
    <p>Category: {{ ad.category }}</p>
    <p>Street Number: {{ ad.street_number }}</p>
    <p>Street Name: {{ ad.street_name }}</p>
    <p>City: {{ ad.city }}</p>
    <p>Postal Code: {{ ad.postal_code }}</p>

    {% for photo in ad.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" />
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

    <!-- {% if receipe.age > 0 %}
      <p>Reviews: {{ receipe.reviews }}</p>
    {% else %}
      <p>Reviews: New Receipe!</p>
    {% endif %} -->
  </div>
</div>

{% endblock %}
