

{% extends 'base.html' %}
{% block content %}

<h1>View All the Ad Listings</h1>

{% for Ad in ad %}
  <div class="card">
    <div class="card-content">
    <a href="/growurcoins/{{ Ad.id }}">

        <span class="card-title">{{ Ad.ad_title }}</span>
        <p>Coins: {{ Ad.coins }}</p>
        <p>Description: {{ Ad.description }}</p>
        <p>Offer Date: {{ Ad.offer_date }}</p>
        <p>Expiry Date: {{ Ad.expiry_date }}</p>
        <p>Stock: {{ Ad.stock_inventory }}</p>
        <p>Category: {{ Ad.category }}</p>
        <p>Street Number: {{ Ad.street_number }}</p>
        <p>Street Name: {{ Ad.street_name }}</p>
        <p>City: {{ Ad.city }}</p>
        <p>Postal Code: {{ Ad.postal_code }}</p>
        <img src="../../templates/growurcoins/tomatoes.jpg" alt="tomatoes**">

      <!-- {% if cat.age > 0 %}
        <p>Age: {{ Ad.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %} -->
    </div>
  </div>
{% endfor %}

{% endblock %}



