{% extends 'base.html' %} {% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Ad</title>
  </head> -->

  <body>
    Here is a form - Please Create your Ad:
    <form
      method="POST"
      action="/growurcoins/create"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <!-- making sure it is not a rando sending infor to your form data -->
      <br />
      <label for="ad_title">Ad Title: </label>
      <br />
      <input
        name="ad_title"
        placeholder="Please enter the title of your ad"
      /><br />
      <br />

      <label for="coins">Coins: </label>
      <br />
      <input name="coins" placeholder="Please enter the coins granted" /><br />
      <br />

      <label for="description">Description: </label>
      <br />
      <textarea name="description" placeholder="Please enter the description">
      </textarea>
      <br />
      <br />

      <label for="offer_date">Offer Date: </label>
      <br />
      <input
        name="offer_date"
        type="date"
        placeholder="Please enter the offer date of your ad"
      />
      <br />
      <br />
      <br />

      <label for="expiry_date">Expiry Date: </label>
      <br />
      <input
        name="expiry_date"
        type="date"
        placeholder="Please enter the expiry date of your ad"
      />
      <br />
      <br />
      <br />

      <label for="stock_inventory">Inventory: </label>
      <br />
      <input name="stock_inventory" placeholder="Please enter the inventory" />
      <br />
      <br />
      <br />

      <label for="category">Category: </label>
      <br />
      <select name="category" placeholder="Please enter the category">
        <option value="">--Please choose an option--</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Green Beans">Green Beans</option>
        <option value="Peas">Peas</option>
        <option value="Carrots">Carrots</option>
        <option value="Cucumbers">Cucumbers</option>
        <option value="Kale">Kale</option>
        <option value="Tomatoes">Tomatoes</option>

      </select>

      <label for="address">Address: </label>
      <br />
      <input name="address" placeholder="Please enter the address" />
      <br />
      <br />
      <br />
      <br />
      <br />

      <label for="city">City: </label>
      <br />
      <input name="city" placeholder="Please enter the city" />
      <br />
      <br />
      <br />

      <label for="postal_code">Postal Code: </label>
      <br />
      <input name="postal_code" placeholder="Please enter the postal code" />
      <br />
      <br />
      <br />

      <input type="file" name="photo-file" />
      <br /><br />

      <button type="submit">Submit Ad</button>
    </form>
  </body>
<!-- </html> -->

{% endblock %}
