{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GrowUrCoins</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green darken-3">

        <a href="/" class="left brand-logo">&nbsp;&nbsp;GrowUrCoins</a>
        <br>

        <ul id="nav-mobile" class="right green-text text-darken-3">
      </div>
    </nav>
  </header>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
  
  <img class="responsive-img" src="{% static 'images/2.png' %}">

  
  <ul id="slide-out" class="sidenav green-text text-darken-3">
    <li>
      <div class="user-view">
        <div class="background">        
          <img src="{% static 'images/2.png' %}">
        </div>

        <a href="#user"><img class="circle" src="{% static 'images/tomatoes.jpg' %}"></a>
        <a href="#name"><span class="white-text name">User Name</span></a>
        <a href="#email"><span class="white-text email">User Email Address</span></a>
      </div>
    </li>
  
    {% if user.is_authenticated %}
    <li><a class="green-text text-darken-3" href="/growurcoins">Home</a></li>
    <li><a class="green-text text-darken-3" href="/growurcoins/new">Profile</a></li>
    <li><a class="green-text text-darken-3" href="/growurcoins/new">Post Ad</a></li>
    <li><a class="green-text text-darken-3" href="/growurcoins/home">Search by Categories</a></li>
    <li><a class="green-text text-darken-3" href="/growurcoins/new">My Cart</a></li>
    <li><a class="green-text text-darken-3" href="/about">About</a></li>
    <li><a class="green-text text-darken-3" href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
    <li><a class="green-text text-darken-3" href="{% url 'signup' %}">Sign Up</a></li>
    <li><a class="green-text text-darken-3" href="{% url 'login' %}">Log In</a></li>
  
    {% endif %}
  </ul>

  </ul>


  <main class="container">

    <br>
    <br>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer">
    <div class="right green-text text-darken-3">All Rights Reserved, &copy; 2022 GrowUrCoins &nbsp;</div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });

  </script>

</body>

</html>
